<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CRUD</title>
</head>
<body>
    <div id="wrapper">
    <header>
      <div class="inner-header container">

          <div class="title">Title</div>
          <a href="#">link 1</a>
          <a href="#">link 2</a>
          <a href="#">link 3</a>
          <a href="#">link 4</a>

      </div>
    </header>
    <div class="body">
    
        <div class="inner-body container">
          <div id="vue-app"></div>
        </div>
    </div>
    <footer>
        <div class="inner-footer container">
            <div class="title">Footer</div>
        </div>
    </footer>
</div>

  <script src="./out/bundle.js" charset="utf-8"></script>
</body>
</html>
